* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --gray_100: #38343d;
  --gray_200: #686071;
  --gray_300: #797085;
  --gray_400: #f4effa;
  --gray_500: #fdfcfe;
  --gradient: linear-gradient(107.54deg, #935fd3 0%, #9245f1 100%);
  --red: #aa2222;
}

body {
  font-size: 1.6rem;
  font-family: "Heebo", sans-serif;

  background: var(--gradient);
}

.card {
  background-color: var(--gray_500);
  max-width: 37.5rem;
  margin: auto;
  margin-top: 7.2rem;
  margin-bottom: 11.2rem;
  border-radius: 1.2rem;

  padding: 2.4rem 2.4rem 1.6rem;
}

.card .user {
  display: flex;
  gap: 1.6rem;

  align-items: center;
}

.card .user img {
  width: 4.8rem;
  height: 4.8rem;

  border-radius: 0.8rem;
}

.card .info {
  display: flex;
  flex-direction: column;

  gap: 0.4rem;
}

.card .info h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.4rem;

  color: var(--gray_100);
}

.card .info p {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--gray_200);
}
