* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

#app,
body {
  height: 100vh;
}

body {
  font-size: 1.6rem;
  background: url("./assets/bg.jpg") no-repeat center center/cover;
}
