* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: #242424;
}

#app {
  max-width: 43rem;
  /* height: 100vh; */
  background-color: #151515;

  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.frame {
  padding: 0 5.5rem 0 5.4rem;
}

p {
  font-size: 3.2rem;
  line-height: 3.8rem;
  color: #fff;
}

.components {
  padding-top: 9rem;
  padding-bottom: 11rem;

  display: grid;
  gap: 8.2rem;
}

.component {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.component .bar {
  width: 28.1rem;
  height: 0.5rem;

  background-color: #fff;
  border-radius: 1.2rem;

  position: relative;
}

.component .bar::before {
  content: "";

  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  background-color: #151515;
  border: 0.15rem solid #fff;
  border-radius: 99.9rem;

  top: -100%;
  left: 80%;
}

.component .color .bar {
  background: linear-gradient(
    90deg,
    #ff0000 5.21%,
    #ff8a00 16.48%,
    #ffe600 27.74%,
    #14ff00 39.35%,
    #00a3ff 49.37%,
    #0500ff 61.18%,
    #ad00ff 72.26%,
    #ff00c7 83.53%,
    #ff0000 94.61%
  );
}

.component .color .bar::before {
  background-color: #8b03fb;
  border: 0.15rem solid #fff;

  left: 65%;
}

.component i {
  font-size: 2.4rem;
  color: #fff;
}
