* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;

  --color-brand-color: #9333ea;
  --color-brand-color-light: #a855f7;
  --color-brand-color-lighter: #c084fc;
  --color-text-color-primary: #f9fafb;
  --color-text-color-secondary: #e4e4e7;
  --color-close-button-color: #a1a1aa;
  --color-stroke-color: #3f3f46;
  --color-surface-color: #18181b;
  --color-background-color: #09090b;
}

html,
body {
  overflow: hidden;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-background-color);
}

.body-cart {
  position: fixed;
  right: 0;
  background-color: var(--color-surface-color);
  height: 100vh;
  max-width: 42.8rem;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 4.8rem 2.4rem 3.2rem;

  font-weight: 500;
  color: var(--color-text-color-secondary);

  border-bottom: 0.1rem solid var(--color-stroke-color);
}

.cart-header span {
  font-weight: 700;
}

.cart-header i {
  font-size: 2.4rem;
  color: var(--color-close-button-color);
  cursor: pointer;
}

.cart-main {
  padding: 3.2rem;

  position: relative;

  height: 70vh;
  overflow-y: scroll;
}

.cart-main::-webkit-scrollbar {
  width: 0.8rem;
}

.cart-main::-webkit-scrollbar-thumb {
  background: var(--color-background-color);
  border-radius: 99.9rem;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.product {
  display: flex;
  gap: 2.4rem;

  color: white;
}

.infos {
  display: flex;
  flex-direction: column;

  gap: 1.52rem;
}

.infos p {
  height: 4.8rem;
}

.price {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: space-between;
  width: 23.6rem;
}

.price span {
  font-weight: 700;
  font-size: 1.6rem;
}

.amount {
  display: flex;
  gap: 1.1rem;
  align-items: center;
}

.amount i {
  color: var(--color-brand-color-light);

  padding: 1.3rem;
  border-radius: 0.8rem;
  cursor: pointer;
}

.ph.ph-minus {
  border: 0.15rem solid var(--color-stroke-color);
}

.ph.ph-plus {
  border: 0.15rem solid var(--color-brand-color-light);
}

.cart-footer {
  padding: 3.2rem;
  position: absolute;
  width: 100%;
  height: 22rem;
  top: 75%;

  background-color: var(--color-surface-color);

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.left-price {
  display: flex;
  gap: 18.3rem;
  align-items: center;
}

.left-price p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-text-color-secondary);
}

.left-price span {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-text-color-primary);
}

.coupon {
  display: flex;
  justify-content: flex-end;
  gap: 0.8rem;
  align-items: center;

  color: var(--color-brand-color-light);
}

.coupon i {
  font-size: 2rem;
}

.coupon p {
  font-size: 1.6rem;
  font-weight: 500;
}

button {
  padding: 2rem 11.1rem;
  background-color: var(--color-brand-color);
  color: var(--color-text-color-primary);

  border-radius: 0.8rem;

  font-size: 1.8rem;
  font-weight: 500;

  cursor: pointer;
}
