* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #d9cdf7;
  --text-color: #271a45;
}

body {
  background-color: var(--background);
  display: grid;
  height: 100vh;
  place-content: center;
}

body * {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 100%;
}

#button-close,
#product-360 {
  display: none;
}

#container {
  display: flex;
  align-items: center;
  gap: 63px;
}

#product-image {
  position: relative;
}

#product-image button {
  position: absolute;
  right: 0;

  background: transparent;
  border: 0;
  cursor: pointer;
}

#product-image > img {
  width: 449px;
  height: 222px;
  object-fit: cover;
}

html.animation button#button-360,
html.animation img#product-static {
  display: none;
}

html.animation button#button-close,
html.animation img#product-360 {
  display: initial;
}

#product-info h4 {
  font-size: 10px;
  font-weight: 300;
}

#product-info h1 {
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  font-size: 32px;
  margin-top: 12px;
}

#product-info p {
  margin-top: 12px;
  opacity: 0.67;
}

#product-info button {
  font-size: 12px;
  line-height: 16px;
  background: transparent;
  margin-top: 20px;
  padding: 8px 16px;
  border: 0.5px solid var(--text-color);
  border-radius: 999px;
  cursor: pointer;
}
